.headerdiv {
  background-color: #e9f5fa;
  width: 8%;
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 0.7rem;
  border-radius: 2rem;
  font-family: "Heebo", sans-serif;
  color: black;
  margin-top: 1rem;
}
.head {
  background-color: white;
}
.head h1 {
  text-align: center;
  font-weight: 400;
  padding-top: 1rem;
  color: black;
  padding-bottom: 4rem;
  font-size: 2.4rem;
  font-family: "Heebo", sans-serif;
}
.head h1 span {
  font-weight: bold;
}
.profile-slider-container {
  display: flex;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  /* flex-wrap: wrap; */
  justify-content: center;
  height: 100vh;
}

.profile-card {
  flex: 0 0 320px;
  width: 30%;
  height: 90vh;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.profile-image-bg {
  width: 130px;
  height: 130px;
  background-color: #2da4d7;
  border-radius: 50%;
  margin-top: 8px;
}

.profile-image {
  width: 123px;
  height: 123px;
  object-fit: cover;
  border-radius: 50%;
  margin: 3.3px 3.3px;
}

.profile-name {
  font-size: 0.8rem;
  margin-top: 15px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  color: black;
}

.profile-card .profile-description {
  text-align: center;
  color: black;
  font-family: "Heebo", sans-serif;
  font-size: 0.9rem;
  margin-top: 15px;
  line-height: 1.7;
}
.slider-controls {
  display: flex;
  justify-content: center;
}
.slider-controls .slider-button1 {
  background-color: #29abe2;
  border: none;
  height: 8.5vh;
  width: 3%;
  color: white;
  font-size: 2rem;
  border-radius: 0.3rem;
  margin-bottom: 2.5rem;
}
.slider-controls .slider-button2 {
  background-color: #29abe2;
  border: none;
  height: 8.5vh;
  width: 3%;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 2.5rem;
}

.slider-controls .slider-button1:hover {
  background-color: #e6e6e6;
  color: #29abe2;
  box-shadow: rgba(45, 164, 225) 0px 1px 3px 0px;
  cursor: pointer;
  border: 1.5px solid #29abe2;
}
.slider-controls .slider-button2:hover {
  background-color: #e6e6e6;
  color: #29abe2;
  box-shadow: rgba(45, 164, 225) 0px 1px 3px 0px;
  cursor: pointer;
  border: 1.5px solid #29abe2;
}

@media screen and (max-width: 768px) {
  .profile-card {
    width: 45%;
    height: auto;
    margin: 10px; /* Adjust the width for smaller screens */
    /* other styles ... */
  }
  .profile-description {
    font-size: 0.8rem;
  }
  .headerdiv {
    width: 15%;
  }
}

@media screen and (max-width: 480px) {
  .profile-slider-container {
    height: auto;
    display: flex;
  }
  @media screen and (max-width: 480px) {
    .profile-slider-container {
      height: auto;
    }
  }
  .profile-card {
    width: 90%;
    height: auto;
    margin: 10px;
    flex: 0 0 390px;
  }

  .profile-description {
    font-size: 0.7rem;
    margin-top: 10px;
  }
  .headerdiv {
    width: 25%;
  }
  .slider-controls .slider-button1 {
    width: 12%;
    height: 6vh;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .slider-controls .slider-button2 {
    width: 13%;
    width: 12%;
    height: 6vh;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
