.carousel-container {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-div1,
.carousel-div2,
.carousel-div3,
.carousel-div4 {
  display: flex;
  width: 100%;
  height: 76vh;
  box-sizing: border-box;
  background: linear-gradient(
      162deg,
      rgba(24, 165, 252, 0.8) 0%,
      rgba(0, 25, 168, 0.8) 100%
    ),
    url(../../../images//image6.jpg) no-repeat center center/cover;
  flex-wrap: wrap;
}
.carousel-div1 .carousel-left {
  text-align: left;
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 1rem;
}
.carousel-div1 .carousel-right {
  max-width: 50%;
  display: flex;
  flex: 1;
  padding: 1rem;
}
.carousel-div1 .carousel-left h1 {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 3rem 3rem;
  line-height: 1;
}
.carousel-div1 .carousel-left p {
  font-size: 1.2rem;
  padding: 3rem 3rem;
  line-height: 1.5;
}
.carousel-div1 .carousel-left button {
  background-color: red;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 1rem;
  border-radius: 2rem;
  color: white;
  font-size: 1rem;
  margin: 0rem 3rem ;
}
.carousel-div1 .carousel-left button:hover {
  background-color: #e6e6e6;
  color: red;
  cursor: pointer;
  border: 1px solid red;
}
.carousel-container .carousel-div1 .carousel-right img {
  height: 60vh;
  margin: auto;
  display: block;
  object-fit: contain;
}

.carousel.carousel-slider .control-dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.carousel.carousel-slider .control-dots .dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #999;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


@media screen and (max-width: 768px) {
  .carousel-div1 .carousel-right {
    display: none;
  }
  .carousel-div1 .carousel-left {
    text-align: center;
    align-items: center;
    padding: 0rem;
    max-width: 100%;
  }
  .carousel-div1 .carousel-left h1, .p, .button{
    margin: 0 auto;
  }
  .carousel-div1 .carousel-left p {
    text-align: center;

  }
  .carousel-div1 .carousel-left button {
    align-items: center;
  }
}
@media screen and (max-width: 480px) {

  .carousel-div1 .carousel-left h1 {
    font-size: 2rem;
  }
}
