.software .container {
  position: relative;
  background-color: white;
  max-width: 100%;
  padding: 1rem;
}

.software-head {
  color: black;
  text-align: center;
  padding-top: 2rem;
  font-size: 2.5rem;
  font-family: "Heebo", sans-serif;
}
#white-section {
  min-height: 50vh;
}
#blue-section {
  background-color: #e9f5fa;
  min-height: 50vh;
}

.software-slider-container {
  position: absolute;
  top: -30vh;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}

.software-card {
  max-width: 20%;
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  min-width: 280px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.software-title {
  color: red;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 1rem;
  font-family: "Heebo", sans-serif;
}

.software-description {
  color: black;
  text-align: start;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: "Heebo", sans-serif;
  height: auto;
  padding: 3rem 3rem;
}

.software-button {
  background-color: #2da4d7;
  border: none;
  border-radius: 1.5rem;
  color: white;
  padding: 1rem 4rem;
  font-size: 1rem;
}
.software-button:hover {
  background-color: #e6e6e6;
  color: #29abe2;
  box-shadow: rgba(45, 164, 225) 0px 1px 3px 0px;
  cursor: pointer;
  border: 1.5px solid #29abe2;
}
.button2:hover {
  background-color: #e6e6e6;
  color: red;
  box-shadow: rgba(238, 35, 36) 0px 1px 3px 0px;
  cursor: pointer;
  border: 1.5px solid red;
}

.button2 {
  background-color: red;
  border: none;
  padding: 0 1rem;
  border-radius: 2rem;
  color: white;
  font-size: 0.85rem;
  position: absolute;
  top: 48vh;
  left: 82%;
  font-family: "Heebo", sans-serif;
}

@media screen and (max-width: 768px) {
  .software-card {
    width: 45%;
    /* height: auto; */
    height: 70vh;
    margin: 10px;
  }

  .software-description {
    font-size: 1.1rem;
  }
  #blue-section {
    background-color: #e9f5fa;
    height: 120vh;
  }
  #first-section {
    height: 55vh;
  }
  .software-button {
    font-size: 1.1rem;
  }
  .button2 {
    top: 108vh;
    left: 77%;
  }
  .software-head {
    padding-top: 4rem;
    top: -4vh;
    margin-left: 20%;
  }
}

@media screen and (max-width: 480px) {
  .software-card {
    width: 95%;
    height: 43vh;
    margin: 10px;
  }

  .software-description {
    font-size: 1.05rem;
    margin-top: 30px;
    padding-top: 0rem;
    height: 55vh;
  }
  #blue-section {
    background-color: #e9f5fa;
    height: 105vh;
  }
  .software-button {
    font-size: 1.3rem;
    height: 5vh;
    width: 100%;
    margin-left: 0rem;
  }
  .button2 {
    top: 96vh;
    left: 65%;
    height: 5vh;
  }
  .software-head {
    margin-left: 10%;
    font-size: 2rem;
  }
}
